# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.DS_Store
.vscode
*.mp4
*.tsbuildinfo
/.env
/cypress/fixtures/
/cypress/screenshots/
/cypress/videos/
/dist/
/docs/
/tmp/
coverage/
node_modules/
