# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.DS_Store
.vscode
*.mp4
/dist/
/docs/
/tests/e2e/screenshots/
/tests/e2e/videos/
/tmp/
coverage/
cypress/
node_modules/
