# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.DS_Store
.vscode
*.mp4
cypress/
dist/
node_modules/
tests/e2e/screenshots/
tests/e2e/videos/
