# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
/dist/
/docs/
/public/data/
/tests/e2e/screenshots/
/tests/e2e/videos/
/tmp/
coverage/
cypress/
node_modules/
package-lock.json
