# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
coverage/
cypress/
cypress/
dist/
docs/
node_modules/
package-lock.json
tmp/
