# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
/cypress/screenshots/
/cypress/videos/
/dist/
/docs/
/public/data/
/tmp/
coverage/
node_modules/
pnpm-lock.yaml
